body{
    background-color: lightslategrey;
    
}

h1{
    width: 400px;
    margin: auto;
    text-align: center;
}
.imagem{
    background-image: url(imagens-cap19/wallpaper002.jpg);
    background-attachment: fixed;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-size: cover;
}

p {    
    width: 400px;
    margin: auto;
    padding: 10px;
}   