body{
    background-color: rgba(0, 0, 0, 0.658);
    
}

h1{
    width: 400px;
    margin: auto;
    text-align: center;
    color: lightseagreen;
}
.imagem{   
    width: 400px;
    margin: auto;
    padding: 10px;
}

p {    
    
    width: 400px;
    margin: auto;
    padding: 10px;
    color: white;
}   

.enviar{

    border-radius: 5px 5px;
    width: 10pc;
    height: 30px;
}

.enviar:hover{

    background-color: rgb(0, 0, 0);
    color: white;
    
}
.parte1, .parte2 , .parte3{

    margin: 20px 5px;
    width: 340px;
    height: 130px;
    padding: 10px;
}
.parte1{
    
    background-color: rgb(92, 0, 0);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.parte2{
   
    background-color: rgb(0, 37, 0);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.parte3{
    
    background-color: rgb(0, 2, 37);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}