*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: rgba(0, 0, 0, 0.658);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    width: 400px;
    margin: auto;
    text-align: center;
    color: rgb(220, 150, 20);
}
.imagem{   
    width: 400px;
    margin: auto;
    padding: 10px;
}

p{    
    
    width: 400px;
    margin: auto;
    padding: 10px;
    color: white;
    font-weight: 900;
}

legend{

    color: white;
    font-weight: 900;
}

.enviar{

    border-radius: 5px 5px;
    width: 100px;
    height: 30px;
}

.enviar:hover{

    background-color: rgb(0, 0, 0);
    color: white;
    
}
.parte1, .parte2 , .parte3, .fieldset, .fieldset2, .fieldset3, .parte5{

    width: 25vw;
    margin: 20px 5px;    
    padding: 10px;
}
.parte1{
    
    background-color: rgb(92, 0, 0);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.parte2{
   
    background-color: rgb(0, 37, 0);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.parte3{
    
    background-color: rgb(0, 2, 37);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.parte4{
    
    background-color: rgb(44, 0, 65);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.fieldset{
    
    background-color: rgb(44, 0, 65);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.fieldset2{
    
    background-color: rgb(0, 65, 51);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.fieldset3{
    
    background-color: rgb(105, 0, 79);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}

.parte5{
    
    background-color: rgb(156, 0, 39);
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px;
}